
.bodied {
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ar {
  color: #37b5ff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
  #ar:hover,
  #ar.selected {
    color: #ffcc00;
  }

h6{
  text-align: center;
  color: #37b5ff;
  text-shadow: #000 1px 1px 2px;
  margin-bottom: 5px;
    font-size: 22px;
  }
  /* .bodied h2 {
    font-size: 14px;
  } */
.sociales {
  text-align: center;
  margin-bottom: 20px;
}

  #timeline {
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
  }
    #dates {
      width: 800px;
      height: 60px;
      overflow: hidden;
    }
      #dates li {
        list-style: none;
        float: left;
        width: 100px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        background: url('../images/biggerdot.png') center bottom no-repeat;
      }
        #ar {
          line-height: 38px;
          padding-bottom: 10px;
        }
        #dates .selected {
              font-size: 38px;
        }
    
    #issues {
      width: 800px;
      height: 350px;
      overflow: hidden;
    } 
      #issues li {
        width: 800px;
        height: 350px;
        list-style: none;
        float: left;
      }
        /* #issues li.selected img {
          -webkit-transform: scale(1.1,1.1);
          transform: scale(1.1,1.1);
        }
        #issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: white;    
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.7,0.7);
          transform: scale(0.7,0.7);
        } */
        #issues li h6 {
          color: #ffcc00;
          font-size: 48px;
          margin: 20px 0;
          text-shadow: #000 1px 1px 2px;
        }
        #issues li p {
          color: #37b5ff;
          font-size: 18px;
          text-align: center;
          font-weight: normal;
          line-height: 22px;
        }
    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('../images/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../images/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }
        /* @media only screen 
        and (min-device-width: 500px) 
        and (max-device-width: 576px) 
        and (-webkit-min-device-pixel-ratio: 2) {  */
          @media only screen and (max-width: 500px) {
          #timeline {
            width: 400px;
            height: 150px;
            overflow: hidden;
            margin: 50px auto;
            position: relative;
            background: url('../images/dot.gif') left 20px repeat-x;
          }
            #dates {
              width: 400px;
              height: 50px;
              overflow: hidden;
            }
              #dates li {
                list-style: none;
                float: left;
                width: 50px;
                height: 25px;
                font-size: 14px;
                text-align: center;
                background: url('../images/biggerdot.png') center bottom no-repeat;
              }
              #ar {
                line-height: 20px;
                padding-bottom: 10px;
              }
              #dates .selected {
                    font-size: 18px;
              }
              h6{
                text-align: center;
                color: #37b5ff;
                margin-bottom: 5px;
                  font-size: 16px;
                }
                #issues {
                  width: 400px;
                  height: 150px;
                  overflow: hidden;
                } 
                  #issues li {
                    width: 400px;
                    height: 150px;
                    list-style: none;
                    float: left;
                  }
                  #issues li h6 {
                    color: #ffcc00;
                    font-size: 18px;
                    margin: 5px 0;
                    text-shadow: #000 1px 1px 2px;
                  }
                  #issues li p {
                    color: #37b5ff;
                    font-size: 10px;
                    text-align: center;
                    font-weight: normal;
                    line-height: 12px;
                  }
                  #next,
                  #prev {
                    position: absolute;
                    font-size: 10px;
                    top: 75px;
                    width: 25px;
                    height: 36px;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    text-indent: -9999px;
                    overflow: hidden;
                  }
        }
        /* @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 576px) 
        and (-webkit-min-device-pixel-ratio: 2) {  */
          @media only screen and (max-width: 320px) {
            #timeline {
            width: 300px;
            height: 150px;
            overflow: hidden;
            margin: 50px auto;
            position: relative;
            background: url('../images/dot.gif') left 20px repeat-x;
          }
            #dates {
              width: 300px;
              height: 50px;
              overflow: hidden;
            }
              #dates li {
                list-style: none;
                float: left;
                width: 50px;
                height: 25px;
                font-size: 14px;
                text-align: center;
                background: url('../images/biggerdot.png') center bottom no-repeat;
              }
              #ar {
                line-height: 20px;
                padding-bottom: 10px;
              }
              #dates .selected {
                    font-size: 18px;
              }
              h6{
                text-align: center;
                color: #37b5ff;
                margin-bottom: 5px;
                  font-size: 16px;
                }
                #issues {
                  width: 300px;
                  height: 150px;
                  overflow: hidden;
                } 
                  #issues li {
                    width: 280px;
                    height: 180px;
                    list-style: none;
                    float: left;
                  }
                  #issues li h6 {
                    color: #ffcc00;
                    font-size: 18px;
                    margin: 5px 0;
                    text-shadow: #000 1px 1px 2px;
                  }
                  #issues li p {
                    color: #37b5ff;
                    font-size: 8px;
                    text-align: center;
                    font-weight: normal;
                    line-height: 10px;
                  }
                  #next,
                  #prev {
                    position: absolute;
                    font-size: 8px;
                    top: 80px;
                    width: 25px;
                    height: 36px;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    text-indent: -9999px;
                    overflow: hidden;
                  }
        }