body,
html{
    margin: 0;
    overflow: auto;
    left: 0;
    right: 0;
    scroll-behavior: smooth;
}
.nav{
    top: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    position: scroll;
}
.nav img{
    position: relative;
    height: 180px;
    width: 250px;
    margin-top: -30px;
    margin-left: -20px;
}
.nav a{
    color: black;
    margin: 50px;
    float: right;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.nav a:hover{
    color: #37B5FF;
    text-decoration: none;
}
.hed{
    background-image: url("../images/jpeg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.trans p{
    color: white;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    position: relative;
    margin-top: 512px;
    padding: 10px;
}
.container{
    margin: 30px;
}
.button{
    padding: 5px;
    width: 250px;
    background-color: #37B5FF;
    border-radius: 2px;
}
.but a{
    text-decoration: none;
}
.button h5{
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.button h5:hover{
    opacity: 0.6;
}
.but p{
    color: #37B5FF;
    text-align: center;
    font-size: 26px;
}
/*row*/
.row{
    width: 100%;
    padding: 20px;
    margin: 0;
}
/*column-left*/
.column-left{
    float: left;
    width: 50%;
    margin-left: -30px;
}
.column-left h4{
    color: #37B5FF;
    font-size: 30px;  
}
.column-left p{
    color: black;
    font-size: 25px;
    width: 60%;
    font-weight: bold;
}
/*column-right*/
.column-right{
    float: right;
    width: 50%;
    margin-right: -30px;
}
.column-right h4{
    color: #37B5FF;
    font-size: 30px;  
}
.column-right p{
    color: black;
    font-size: 25px;
    width: 60%;
    font-weight: bold;
}
.about,
.history{
    height: 600px;
}
.about h3,
.history h3,
.milestone h3,
.orphan h3{
    text-align: center;
    color: #37B5FF;
    font-size: 30px;
}
.about p,
.history p,
.milestone p,
.orphan p{
    font-size: 25px;
    text-align: justify;
}
.footer{
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    background-color: #37B5FF;
    position: scroll;
}
.footer img{
    position: relative;
    height: 180px;
    width: 300px;
    margin-left: -20px;
}
.footer a{
    color: white;
    margin: 40px;
    float: right;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.footer a:hover{
    color: black;
    text-decoration: none;
}
.footer p1{
    float: right;
    color: white;
    width: 130px;
    text-align: justify;
    margin-top: 100px;
    margin-right: -180px;
}
.footer p2{
    text-align: center;
    color: white;
    font-size: 20px;
}
.footer p3{
    text-align: center;
    color: white;
    font-size: 15px;
}
/* ANDROID */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 576px) 
  and (-webkit-min-device-pixel-ratio: 2) 
   {
    .nav{
        top: 0;
        margin: 0;
        width: 100%;
        padding: 20px;
        background-color: white;
        position: scroll;
        height: 55px;
    }
    .nav img{
        position: relative;
        height: 40px;
        width: 80px;
        margin-top: -10px;
        margin-left: -23px;
    }
    .nav a{
        color: black;
        margin: 5px;
        float: right;
        font-size: 7px;
        font-weight: normal;
        text-decoration: none;
    }
    .hed{
        background-image: url("../images/jpeg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
    }
    .trans p{
        color: white;
        font-size: 11px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 80%;
        position: relative;
        margin-top: 126px;
        padding: 2px;
    }
    .container{
        margin: 10px;
    }
    .button{
        padding: 2px;
        width: 100px;
        background-color: #37B5FF;
        outline: none;
    }
    .button h5{
        text-align: center;
        color: white;
        font-size: 15px;
    }
    .but p{
        color: #37B5FF;
        text-align: center;
        font-size: 10px;
    }
    /*column-left*/
    .column-left{
        float: left;
        width: 50%;
        margin-left: -10px;
        margin-top: 20px;
    }
    .column-left h4{
        color: #37B5FF;
        font-size: 15px;  
    }
    .column-left p{
        color: black;
        font-size: 10px;
        text-align: justify;
    }
    /*column-right*/
    .column-right{
        float: right;
        width: 50%;
        margin-right: -20px;
        margin-top: 20px;
    }
    .column-right h4{
        color: #37B5FF;
        font-size: 15px;  
    }
    .column-right p{
        color: black;
        font-size: 10px;
        text-align: justify;
    }
    .row p{
        font-weight: normal;
        font-size: 10px;
    }
    .about{
        height: 300px;
    }
    .history
    {
        height: 380px;
    }
    .about h3,
    .history h3,
    .milestone h3,
    .orphan h3{
        text-align: center;
        color: #37B5FF;
        font-size: 10px;
    }
    .about p,
    .history p,
    .milestone p,
    .orphan p{
        font-size: 10px;
        font-weight: normal;
    }
        .footer{
            bottom: 0;
            margin: 0;
            width: 100%;
            padding: 5px;
            background-color: #37B5FF;
            position: scroll;
        }
        .footer img{
            position: relative;
            height: 50px;
            width: 100px;
            margin-left: -10px;
        }
        .footer a{
            color: white;
            margin: 5px;
            float: right;
            font-size: 7px;
            font-weight: normal;
            text-decoration: none;
        }
        .footer p1{
            float: right;
            color: white;
            width: 50px;
            text-align: justify;
            margin-top: 15px;
            margin-right: -50px;
            font-size: 5.5px;
            font-weight: normal;
        }
        .footer p2{
            text-align: center;
            color: white;
            font-size: 5px;
            font-weight: normal;
        }
        .footer p3{
            text-align: center;
            color: white;
            font-size: 4.5px;
            font-weight: normal;
        }
    } 
/* IPHONE 6.7.8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) 
   {
    .nav{
        top: 0;
        margin: 0;
        width: 100%;
        padding: 20px;
        background-color: white;
        position: scroll;
        height: 55px;
    }
    .nav img{
        position: relative;
        height: 50px;
        width: 100px;
        margin-top: -15px;
        margin-left: -35px;
    }
    .nav a{
        color: black;
        margin: 5px;
        float: right;
        font-size: 7px;
        font-weight: normal;
        text-decoration: none;
    }
    .hed{
        background-image: url("../images/jpeg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
    }
    .trans p{
        color: white;
        font-size: 11px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 80%;
        position: relative;
        margin-top: 126px;
        padding: 2px;
    }
    .container{
        margin: 10px;
    }
    .button{
        padding: 2px;
        width: 100px;
        background-color: #37B5FF;
        outline: none;
    }
    .button h5{
        text-align: center;
        color: white;
        font-size: 15px;
    }
    .but p{
        color: #37B5FF;
        text-align: center;
        font-size: 10px;
    }
    /*column-left*/
    .column-left{
        float: left;
        width: 50%;
        margin-left: -10px;
        margin-top: 20px;
    }
    .column-left h4{
        color: #37B5FF;
        font-size: 15px;  
    }
    .column-left p{
        color: black;
        font-size: 10px;
    }
    /*column-right*/
    .column-right{
        float: right;
        width: 50%;
        margin-right: -20px;
        margin-top: 20px;
    }
    .column-right h4{
        color: #37B5FF;
        font-size: 15px;  
    }
    .column-right p{
        color: black;
        font-size: 10px;
    }
    .row p{
        font-weight: normal;
        font-size: 10px;
    }
    .about{
        height: 230px;
    }
    .history
    {
        height: 280px;
    }
    .about h3,
    .history h3,
    .milestone h3,
    .orphan h3{
        text-align: center;
        color: #37B5FF;
        font-size: 10px;
    }
    .about p,
    .history p,
    .milestone p,
    .orphan p{
        font-size: 10px;
        font-weight: normal;
    }
        .footer{
            bottom: 0;
            margin: 0;
            width: 100%;
            padding: 5px;
            background-color: #37B5FF;
            position: scroll;
        }
        .footer img{
            position: relative;
            height: 50px;
            width: 100px;
            margin-left: -10px;
        }
        .footer a{
            color: white;
            margin: 10px;
            float: right;
            font-size: 7px;
            font-weight: normal;
            text-decoration: none;
        }
        .footer p1{
            float: right;
            color: white;
            width: 50px;
            text-align: justify;
            margin-top: 20px;
            margin-right: -50px;
            font-size: 5.5px;
            font-weight: normal;
        }
        .footer p2{
            text-align: center;
            color: white;
            font-size: 5.5px;
            font-weight: normal;
        }
        .footer p3{
            text-align: center;
            color: white;
            font-size: 4.5px;
            font-weight: normal;
        }
    } 
    /*iphone 6/7/8 plus*/
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) 
   {
    .nav{
        top: 0;
        margin: 0;
        width: 100%;
        padding: 15px;
        background-color: white;
        position: scroll;
        height: 55px;
    }
    .nav img{
        position: relative;
        height: 70px;
        width: 100px;
        margin-top: -25px;
        margin-left: -20px;
    }
    .nav a{
        color: black;
        margin: 3px;
        float: right;
        font-size: 10px;
        font-weight: normal;
        text-decoration: none;
    }
    .hed{
        background-image: url("../images/jpeg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
    }
    .trans p{
        color: white;
        font-size: 11.6px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 80%;
        position: relative;
        margin-top: 122px;
        padding: 2px;
    } 
    .container{
        margin: 10px;
    }
    .button{
        padding: 2px;
        width: 100px;
        background-color: #37B5FF;
        outline: none;
    }
    .button h5{
        text-align: center;
        color: white;
        font-size: 15px;
    }
    .but p{
        color: #37B5FF;
        text-align: center;
        font-size: 10px;
    }
    /*column-left*/
    .column-left{
        float: left;
        width: 50%;
        margin-left: -10px;
        margin-top: 20px;
    }
    .column-left h4{
        color: #37B5FF;
        font-size: 15px;  
    }
    .column-left p{
        color: black;
        font-size: 10px;
    }
    /*column-right*/
    .column-right{
        float: right;
        width: 50%;
        margin-right: -20px;
        margin-top: 20px;
    }
    .column-right h4{
        color: #37B5FF;
        font-size: 15px;  
    }
    .column-right p{
        color: black;
        font-size: 10px;
    }
    .row p{
        font-weight: normal;
        font-size: 10px;
    }
    .about{
        height: 230px;
    }
    .history
    {
        height: 280px;
    }
    .about h3,
    .history h3,
    .milestone h3,
    .orphan h3{
        text-align: center;
        color: #37B5FF;
        font-size: 10px;
    }
    .about p,
    .history p,
    .milestone p,
    .orphan p{
        font-size: 10px;
        font-weight: normal;
    }
    .footer{
        bottom: 0;
        margin: 0;
        width: 100%;
        padding: 5px;
        background-color: #37B5FF;
        position: scroll;
    }
    .footer img{
        position: relative;
        height: 60px;
        width: 120px;
        margin-left: -4px;
    }
    .footer a{
        color: white;
        margin: 12px;
        float: right;
        font-size: 8px;
        font-weight: normal;
        text-decoration: none;
    }
    .footer p1{
        float: right;
        color: white;
        width: 70px;
        text-align: justify;
        margin-top: 25px;
        margin-right: -70px;
        font-size: 6.5px;
        font-weight: normal;
    }
    .footer p2{
        text-align: center;
        color: white;
        font-size: 6px;
        font-weight: normal;
    }
    .footer p3{
        text-align: center;
        color: white;
        font-size: 5px;
        font-weight: normal;
    }  
   }
  /* ----------- Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
}